@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-50%));
    }
  }

  @keyframes marquee-vertical {
    0% { transform: translateY(0); }
    100% { transform: translateY(-50%); }
  }
  .animate-marquee-vertical {
    animation: marquee-vertical var(--duration, 40s) linear infinite;
  }
  .group:hover .animate-marquee-vertical {
    animation-play-state: paused;
  }
  .animate-marquee {
    animation: marquee var(--duration, 40s) linear infinite;
  }
  .group:hover .animate-marquee {
    animation-play-state: paused;
  }
}

